# Functions and Visualizations

In the past week, you've learned a lot about using tables to work with datasets.  With your tools so far, you can:

1. Load a dataset from the web;
2. Work with (extract, add, drop, relabel) columns from the dataset;
3. Filter and sort it according to certain criteria;
4. Perform arithmetic on columns of numbers;
5. Group rows by columns of categories, counting the number of rows in each category;
6. Make a bar chart of the categories.

These tools are fairly powerful, but they're not quite enough for all the analysis and data we'll eventually be doing in this course.  Today we'll learn a tool that dramatically expands this toolbox: the table method `apply`.  We'll also see how to make histograms, which are like bar charts for numerical data.

In [1]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

# These lines load the tests.
from client.api.assignment import load_assignment 
tests = load_assignment('lab04.ok')

=====================================================================
Assignment: Functions and Visualizations
OK, version v1.14.15
=====================================================================

## 1. Functions and CEO Incomes
##### In Which We Write Down a Recipe for Cake

Let's start with a real data analysis task.  We'll look at the 2015 compensation of CEOs at the 100 largest companies in California.  The data were compiled for a Los Angeles Times analysis [here](http://spreadsheets.latimes.com/california-ceo-compensation/), and ultimately came from [filings](https://www.sec.gov/answers/proxyhtf.htm) mandated by the SEC from all publicly-traded companies.  Two companies have two CEOs, so there are 102 CEOs in the dataset.

We've copied the data in raw form from the LA Times page into a file called `raw_compensation.csv`.  (The page notes that all dollar amounts are in millions of dollars.)

In [2]:
raw_compensation = Table.read_table('raw_compensation.csv')
raw_compensation

Rank | Name               | Company (Headquarters)         | Total Pay | % Change           | Cash Pay | Equity Pay | Other Pay | Ratio of CEO pay to average industry worker pay
1    | Mark V. Hurd*      | Oracle (Redwood City)          | $53.25    | (No previous year) | $0.95    | $52.27     | $0.02     | 362
2    | Safra A. Catz*     | Oracle (Redwood City)          | $53.24    | (No previous year) | $0.95    | $52.27     | $0.02     | 362
3    | Robert A. Iger     | Walt Disney (Burbank)          | $44.91    | -3%                | $24.89   | $17.28     | $2.74     | 477
4    | Marissa A. Mayer   | Yahoo! (Sunnyvale)             | $35.98    | -15%               | $1.00    | $34.43     | $0.55     | 342
5    | Marc Benioff       | salesforce.com (San Francisco) | $33.36    | -16%               | $4.65    | $27.26     | $1.45     | 338
6    | John H. Hammergren | McKesson (San Francisco)       | $24.84    | -4%                | $12.10   | $12.37     | $0.37     | 222
7    | John S. Watson     | Chevron (San Ramon)            | $22.04    | -15%               | $4.31    | $14.68     | $3.05     | 183
8    | Jeffrey Weiner     | LinkedIn (Mountain View)       | $19.86    | 27%                | $2.47    | $17.26     | $0.13     | 182
9    | John T. Chambers** | Cisco Systems (San Jose)       | $19.62    | 19%                | $5.10    | $14.51     | $0.01     | 170
10   | John G. Stumpf     | Wells Fargo  (San Francisco)   | $19.32    | -10%               | $6.80    | $12.50     | $0.02     | 256
... (92 rows omitted)

**Question 1.** When we first loaded this dataset, we tried to compute the average of the CEOs' pay like this:

    np.average(raw_compensation.column("Total Pay"))

Explain why that didn't work.  *Hint:* Try looking at some of the values in the "Total Pay" column.

*Write your answer here, replacing this text.*

(array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
         27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
         40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
         66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
         79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
         92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102]),
 array(['Mark V. Hurd*', 'Safra A. Catz*', 'Robert A. Iger',
        'Marissa A. Mayer', 'Marc Benioff', 'John H. Hammergren',
        'John S. Watson', 'Jeffrey Weiner', 'John T. Chambers**',
        'John G. Stumpf', 'John C. Martin**', 'Michael S. Burke',
        'Shantanu Narayen', 'Gary E. Dickerson', 'Margaret C. Whitman**',
        'Reed Hastings', 'Michael A. Brown**', 'Debra L. Reed',
        'Robert A. Bradway', 'Brad D. Smith', 'Gregory E. Johnson',
        'Hamid R. Moghadam', 'Brian M. Krzanich', 'Devin N. Wenig',
        'Daniel H. Schulman', 'Patrick P. Gelsinger', 'Jay M. Gellert**',
        'Victor Herrero', 'Laura J. Alber', 'Ronald S. Nersesian',
        'Walter W. Bettinger', 'Anthony F. Earley', 'Carl Bass',
        'Steven J. Demetriou', 'Ronald N. Tutor', 'Charles W. Scharf',
        'Stephen D. Milligan', 'Andrew Wilson', 'Martin B. Anstice',
        'Theodore F. Craver, Jr.', 'Stephen M. Smith', 'Sanjay Mehrotra**',
        'Ronald L. Havner, Jr.', 'Rodney C. Sacks', 'Steven M. Mollenkopf',
        'Tim Cook', 'J. Mario Molina', 'Jure Sola', 'Barbara Rentler',
        'Jen-Hsun Huang', 'Michael Rapino', 'Harold M. Messmer',
        'Christopher A. Sinclair', 'Rami Rahim', 'Thomas Georgens**',
        'Jay T. Flatley**', 'Michael A. Mussallem', 'Alain Monie',
        'Jeffrey T. Mezger', 'Steven W. Berglund', 'Dean A. Scarborough**',
        'Richard P. Wallace', 'Gregg J. Mollins', 'Lloyd A. Carney',
        'Robert L. Antin', 'Benno O. Dorer', 'Robert E. Sulentic',
        'Peter T. Dameris', 'Dow R. Wilson', 'Robert A. Kotick',
        'Michael R. McMullen', 'Robert Y. Greenberg', 'Lauralee E. Martin',
        'Jon Feltheimer', 'Todd A. Stevens', 'Lisa T. Su', 'Arthur Peck',
        'David Overton', 'Moshe N. Gavrielov', 'Tunc Doluca',
        'Dennis J. Gilmore', 'Dan L. Batrack', 'Mark E. Zuckerberg',
        'Aart J. de Geus*', 'Chi-Foon Chan*', 'Douglas F. Bauer',
        'Burton M. Goldfield', 'Robert Mehrabian', 'Kevin M. Murai',
        'Gary S. Guthart', 'Larry T. Nicholson', 'James H. Roberts',
        'Thomas T. Edman', 'Gabriel Tirador', 'Thomas B. Perkins',
        'Gary G. Friedman', 'David G. Hirz', 'Gregory N. Roberts',
        'Jose L. Laparte', 'Jack Dorsey', 'Elon R. Musk',
        'Lawrence Page***'], dtype='<U23'),
 array(['Oracle (Redwood City)', 'Oracle (Redwood City)',
        'Walt Disney (Burbank)', 'Yahoo! (Sunnyvale)',
        'salesforce.com (San Francisco)', 'McKesson (San Francisco)',
        'Chevron (San Ramon)', 'LinkedIn (Mountain View)',
        'Cisco Systems (San Jose)', 'Wells Fargo  (San Francisco)',
        'Gilead Sciences (Foster City)', 'AECOM Technology (Los Angeles)',
        'Adobe Systems (San Jose)', 'Applied Materials (Santa Clara)',
        'Hewlett-Packard (Palo Alto)', 'Netflix (Los Gatos)',
        'Symantec (Mountain View)', 'Sempra Energy (San Diego)',
        'Amgen (Thousand Oaks)', 'Intuit (Mountain View)',
        'Franklin Resources (San Mateo)', 'Prologis (San Francisco)',
        'Intel (Santa Clara)', 'eBay (San Jose)',
        'PayPal Holdings (San Jose)', 'VMware (Palo Alto)',
        'Health Net (Woodland Hills)', 'Guess (Los Angeles)',
        'Williams-Sonoma (San Francisco)',
        'Keysight Technologies (Santa Rosa)',
        'Charles Schwab (San Francisco)', 'PG&E (San Francisco)',
        'Autodesk (San Rafael)', 'Jacobs Engineering Group (Pasadena)',
        'Tutor Perini (Sylmar)', 'Visa (San Francisco)',
        'Western Digital (Irvine)', 'Electronic Arts  (Redwood City)',
        'Lam Research (Fremont)', 'Edison International (Rosemead)',
        'Equinix (Redwood City)', 'SanDisk (Milpitas)',
        'Public Storage (Glendale)', 'Monster Beverage (Corona)',
        'Qualcomm (San Diego)', 'Apple (Cupertino)',
        'Molina Healthcare (Long Beach)', 'Sanmina (San Jose)',
        'Ross Stores (Dublin)', 'NVIDIA (Santa Clara)',
        'Live Nation Entertainment (Beverly Hills)',
        'Robert Half International  (Menlo Park)', 'Mattel (El Segundo)',
        'Juniper Networks (Sunnyvale)', 'NetApp (Sunnyvale)',
        'Illumina (San Diego)', 'Edwards Lifesciences (Irvine)',
        'Ingram Micro (Irvine)', 'KB Home (Los Angeles)',
        'Trimble Navigation  (Sunnyvale)', 'Avery Dennison (Glendale)',
        'KLA-Tencor (Milpitas)', 'Reliance Steelæ& Aluminum (Los Angeles)',
        'Brocade Communications Systems (San Jose)', 'VCA (Los Angeles)',
        'Clorox (Oakland)', 'CBRE Group (Los Angeles)',
        'On Assignment  (Calabasas)', 'Varian Medical Systems (Palo Alto)',
        'Activision Blizzard (Santa Monica)',
        'Agilent Technologies (Santa Clara)',
        'Skechers U.S.A. (Manhattan Beach)', 'HCP (Irvine)',
        'Lions Gate Entertainment (Santa Monica)',
        'California Resources  (Los Angeles)',
        'Advanced Micro Devices (Sunnyvale)', 'Gap (San Francisco)',
        'Cheesecake Factory  (Calabasas Hills)', 'Xilinx (San Jose)',
        'Maxim Integrated Products (San Jose)',
        'First American Financial (Santa Ana)', 'Tetra Tech (Pasadena)',
        'Facebook (Menlo Park)', 'Synopsys (Mountain View)',
        'Synopsys (Mountain View)', 'TRI Pointe Group (Irvine)',
        'TriNet Group (San Leandro)',
        'Teledyne Technologies  (Thousand Oaks)', 'SYNNEX (Fremont)',
        'Intuitive Surgical (Sunnyvale)', 'CalAtlantic Group (Irvine)',
        'Granite Construction (Watsonville)',
        'TTM Technologies (Costa Mesa)', 'Mercury General (Los Angeles)',
        'Core-Mark Holding Company (South San Francisco)',
        'Restoration Hardware Holdings (Corte Madera)',
        'Smartæ& Final Stores (Commerce)',
        'A-Mark Precious Metals (Santa Monica)', 'PriceSmart (San Diego)',
        'Twitter (San Francisco)', 'Tesla Motors (Palo Alto)',
        'Alphabet (Mountain View)'], dtype='<U47'),
 array(['$53.25 ', '$53.24 ', '$44.91 ', '$35.98 ', '$33.36 ', '$24.84 ',
        '$22.04 ', '$19.86 ', '$19.62 ', '$19.32 ', '$18.76 ', '$18.61 ',
        '$18.36 ', '$18.09 ', '$17.10 ', '$16.63 ', '$16.33 ', '$16.14 ',
        '$16.10 ', '$16.02 ', '$15.10 ', '$14.98 ', '$14.63 ', '$14.51 ',
        '$14.44 ', '$14.36 ', '$14.31 ', '$14.09 ', '$14.00 ', '$13.67 ',
        '$12.34 ', '$12.20 ', '$12.18 ', '$12.13 ', '$12.05 ', '$11.84 ',
        '$11.71 ', '$11.63 ', '$11.16 ', '$11.11 ', '$11.11 ', '$10.73 ',
        '$10.50 ', '$10.43 ', '$10.37 ', '$10.28 ', '$10.27 ', '$10.18 ',
        '$10.16 ', '$9.97 ', '$9.96 ', '$9.86 ', '$9.74 ', '$9.42 ',
        '$9.39 ', '$9.22 ', '$9.06 ', '$9.03 ', '$8.86 ', '$8.76 ',
        '$8.57 ', '$8.38 ', '$8.36 ', '$8.35 ', '$8.23 ', '$7.86 ',
        '$7.70 ', '$7.58 ', '$7.51 ', '$7.23 ', '$7.21 ', '$7.12 ',
        '$6.88 ', '$6.77 ', '$6.64 ', '$6.56 ', '$6.14 ', '$5.92 ',
        '$5.90 ', '$5.89 ', '$5.73 ', '$5.42 ', '$5.04 ', '$4.92 ',
        '$4.92 ', '$4.47 ', '$4.25 ', '$4.08 ', '$3.93 ', '$3.72 ',
        '$2.88 ', '$2.83 ', '$2.82 ', '$2.45 ', '$1.79 ', '$1.68 ',
        '$1.53 ', '$0.94 ', '$0.81 ', '$0.07 ', '$0.04 ', '$0.00 '],
       dtype='<U7'),
 array(['(No previous year)', '(No previous year)', '-3%', '-15%', '-16%',
        '-4%', '-15%', '27%', '19%', '-10%', '-1%', '(No previous year)',
        '3%', '10%', '-13%', '50%', '(No previous year)', '-4%', '15%',
        '-3%', '-5%', '-9%', '31%', '(No previous year)',
        '(No previous year)', '68%', '15%', '(No previous year)', '-5%',
        '118%', '4%', '5%', '10%', '(No previous year)', '-53%', '54%',
        '4%', '(No previous year)', '-26%', '-22%', '-3%', '-7%', '17%',
        '36%', '(No previous year)', '11%', '31%', '22%',
        '(No previous year)', '7%', '-10%', '8%', '(No previous year)',
        '(No previous year)', '9%', '-38%', '5%', '8%', '-14%', '24%',
        '-29%', '22%', '(No previous year)', '-17%', '19%',
        '(No previous year)', '21%', '36%', '16%', '5%',
        '(No previous year)', '-25%', '-45%', '-90%', '(No previous year)',
        '(No previous year)', '(No previous year)', '10%', '-9%', '57%',
        '2%', '20%', '-19%', '10%', '9%', '114%', '76%', '-52%', '-48%',
        '42%', '(No previous year)', '22%', '87%', '-4%', '9%', '-35%',
        '-66%', '-11%', '-7%', '(No previous year)', '6%', '0%'],
       dtype='<U18'),
 array(['$0.95 ', '$0.95 ', '$24.89 ', '$1.00 ', '$4.65 ', '$12.10 ',
        '$4.31 ', '$2.47 ', '$5.10 ', '$6.80 ', '$5.77 ', '$4.12 ',
        '$2.41 ', '$3.09 ', '$3.95 ', '$1.12 ', '$2.13 ', '$4.52 ',
        '$5.35 ', '$2.46 ', '$4.43 ', '$3.27 ', '$4.55 ', '$3.64 ',
        '$3.32 ', '$2.44 ', '$4.55 ', '$3.69 ', '$3.97 ', '$2.14 ',
        '$4.71 ', '$3.53 ', '$2.48 ', '$5.78 ', '$5.50 ', '$4.31 ',
        '$2.55 ', '$2.88 ', '$4.75 ', '$2.90 ', '$2.04 ', '$1.55 ',
        '$3.50 ', '$1.13 ', '$2.17 ', '$10.00 ', '$2.36 ', '$2.32 ',
        '$3.85 ', '$2.51 ', '$7.36 ', '$3.65 ', '$2.35 ', '$2.01 ',
        '$1.93 ', '$2.15 ', '$3.05 ', '$3.50 ', '$4.97 ', '$1.03 ',
        '$3.02 ', '$2.05 ', '$2.09 ', '$1.98 ', '$3.57 ', '$2.47 ',
        '$3.57 ', '$2.47 ', '$1.86 ', '$7.14 ', '$1.96 ', '$6.85 ',
        '$2.19 ', '$5.55 ', '$1.58 ', '$1.15 ', '$1.30 ', '$2.20 ',
        '$1.61 ', '$1.59 ', '$3.16 ', '$1.95 ', '$0.00 ', '$2.32 ',
        '$2.32 ', '$1.33 ', '$0.69 ', '$1.98 ', '$1.84 ', '$1.21 ',
        '$2.85 ', '$1.73 ', '$1.89 ', '$1.85 ', '$0.91 ', '$1.66 ',
        '$1.50 ', '$0.93 ', '$0.71 ', '$0.00 ', '$0.04 ', '$0.00 '],
       dtype='<U7'),
 array(['$52.27 ', '$52.27 ', '$17.28 ', '$34.43 ', '$27.26 ', '$12.37 ',
        '$14.68 ', '$17.26 ', '$14.51 ', '$12.50 ', '$12.98 ', '$14.00 ',
        '$15.85 ', '$10.82 ', '$12.85 ', '$15.50 ', '$14.18 ', '$7.16 ',
        '$10.20 ', '$13.55 ', '$10.60 ', '$11.62 ', '$9.80 ', '$10.86 ',
        '$10.36 ', '$11.90 ', '$7.24 ', '$10.29 ', '$10.00 ', '$11.33 ',
        '$7.50 ', '$7.50 ', '$9.62 ', '$6.35 ', '$5.64 ', '$7.47 ',
        '$9.15 ', '$8.70 ', '$6.41 ', '$5.94 ', '$9.06 ', '$9.00 ',
        '$6.99 ', '$9.23 ', '$8.00 ', '$0.00 ', '$7.89 ', '$7.81 ',
        '$6.20 ', '$7.46 ', '$2.52 ', '$6.21 ', '$6.50 ', '$7.40 ',
        '$7.45 ', '$7.00 ', '$5.84 ', '$5.50 ', '$3.81 ', '$7.72 ',
        '$5.24 ', '$6.30 ', '$5.57 ', '$6.37 ', '$4.30 ', '$5.00 ',
        '$4.12 ', '$5.10 ', '$5.50 ', '$0.00 ', '$4.95 ', '$0.00 ',
        '$4.68 ', '$1.00 ', '$4.65 ', '$5.38 ', '$4.81 ', '$3.59 ',
        '$4.29 ', '$4.29 ', '$2.56 ', '$3.43 ', '$0.00 ', '$2.57 ',
        '$2.57 ', '$3.12 ', '$3.50 ', '$1.63 ', '$2.07 ', '$2.52 ',
        '$0.00 ', '$0.98 ', '$0.92 ', '$0.54 ', '$0.87 ', '$0.00 ',
        '$0.00 ', '$0.00 ', '$0.00 ', '$0.00 ', '$0.00 ', '$0.00 '],
       dtype='<U7'),
 array(['$0.02 ', '$0.02 ', '$2.74 ', '$0.55 ', '$1.45 ', '$0.37 ',
        '$3.05 ', '$0.13 ', '$0.01 ', '$0.02 ', '$0.01 ', '$0.49 ',
        '$0.09 ', '$4.19 ', '$0.30 ', '$0.02 ', '$0.02 ', '$4.46 ',
        '$0.55 ', '$0.01 ', '$0.06 ', '$0.10 ', '$0.28 ', '$0.02 ',
        '$0.76 ', '$0.01 ', '$2.52 ', '$0.11 ', '$0.02 ', '$0.20 ',
        '$0.12 ', '$1.17 ', '$0.08 ', '$0.01 ', '$0.91 ', '$0.06 ',
        '$0.01 ', '$0.06 ', '$0.01 ', '$2.28 ', '$0.01 ', '$0.17 ',
        '$0.01 ', '$0.08 ', '$0.21 ', '$0.28 ', '$0.02 ', '$0.06 ',
        '$0.11 ', '$0.00 ', '$0.08 ', '$0.00 ', '$0.90 ', '$0.02 ',
        '$0.01 ', '$0.06 ', '$0.18 ', '$0.03 ', '$0.07 ', '$0.00 ',
        '$0.30 ', '$0.03 ', '$0.70 ', '$0.00 ', '$0.37 ', '$0.39 ',
        '$0.00 ', '$0.01 ', '$0.15 ', '$0.09 ', '$0.30 ', '$0.27 ',
        '$0.01 ', '$0.22 ', '$0.41 ', '$0.03 ', '$0.03 ', '$0.13 ',
        '$0.00 ', '$0.02 ', '$0.01 ', '$0.04 ', '$5.04 ', '$0.03 ',
        '$0.03 ', '$0.02 ', '$0.06 ', '$0.46 ', '$0.01 ', '$0.00 ',
        '$0.03 ', '$0.12 ', '$0.01 ', '$0.06 ', '$0.01 ', '$0.02 ',
        '$0.04 ', '$0.02 ', '$0.10 ', '$0.07 ', '$0.00 ', '$0.00 '],
       dtype='<U6'),
 array([3.62e+02, 3.62e+02, 4.77e+02, 3.42e+02, 3.38e+02, 2.22e+02,
        1.83e+02, 1.82e+02, 1.70e+02, 2.56e+02, 1.17e+02, 1.99e+02,
        1.25e+02, 1.31e+02, 8.90e+01, 1.61e+02, 1.78e+02, 1.52e+02,
        1.52e+02, 1.50e+02, 9.20e+01, 1.96e+02, 1.06e+02, 2.95e+02,
        1.78e+02, 9.80e+01, 1.73e+02, 3.60e+02, 2.23e+02, 1.32e+02,
        4.70e+01, 1.47e+02, 8.30e+01, 1.73e+02, 1.82e+02, 1.57e+02,
        8.50e+01, 7.90e+01, 8.10e+01, 1.07e+02, 1.02e+02, 7.80e+01,
        2.56e+02, 1.90e+02, 9.50e+01, 5.40e+01, 1.24e+02, 1.44e+02,
        5.54e+02, 7.20e+01, 2.80e+02, 3.24e+02, 1.39e+02, 8.20e+01,
        6.80e+01, 7.00e+01, 1.19e+02, 7.20e+01, 1.65e+02, 1.09e+02,
        1.15e+02, 1.14e+02, 1.30e+02, 6.10e+01, 2.26e+02, 9.60e+01,
        1.35e+02, 2.50e+02, 7.20e+01, 4.90e+01, 7.60e+01, 1.82e+02,
        1.52e+02, 4.60e+01, 4.10e+01, 4.80e+01, 3.35e+02, 3.03e+02,
        4.30e+01, 4.30e+01, 6.80e+01, 5.80e+01, 4.60e+01, 5.40e+01,
        5.40e+01, 8.30e+01, 4.90e+01, 3.70e+01, 3.10e+01, 4.90e+01,
        3.70e+01, 4.00e+01, 4.30e+01, 2.80e+01, 3.10e+01, 2.80e+01,
        2.60e+01, 1.70e+01, 3.20e+01, 6.30e-01, 4.60e-01, 1.00e-05]))

**Question 2.** Extract the first value in the "Total Pay" column.  It's Mark Hurd's pay in 2015, in *millions* of dollars.  Call it `mark_hurd_pay_string`.

In [7]:
mark_hurd_pay_string = raw_compensation.column('Total Pay').item(0)
mark_hurd_pay_string

'$53.25 '

In [8]:
_ = tests.grade('q1_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 2
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3.** Convert `mark_hurd_pay_string` to a number of *dollars*.  The string method `strip` will be useful for removing the dollar sign; it removes a specified character from the start or end of a string.  For example, the value of `"100%".strip("%")` is the string `"100"`.  You'll also need the function `float`, which converts a string that looks like a number to an actual number.  Last, remember that the answer should be in dollars, not millions of dollars.

In [10]:
mark_hurd_pay = float(mark_hurd_pay_string.strip('$'))
mark_hurd_pay

53.25

In [11]:
_ = tests.grade('q1_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
 > Suite 1 > Case 3

>>> # Don't forget to give your answer in dollars, not millions of
>>> # Dollars!
>>> mark_hurd_pay == 53250000
False

# Error: expected
#     True
# but got
#     False

Run only this test case with "python3 ok -q q1_3 --suite 1 --case 3"
---------------------------------------------------------------------
Test summary
    Passed: 2
    Failed: 1
[ooooook....] 66.7% passed

To compute the average pay, we need to do this for every CEO.  But that looks like it would involve copying this code 102 times.

This is where functions come in.  First, we'll define our own function that packages together the code we wrote to convert a pay string to a pay number.  This has its own benefits.  Later in this lab we'll see a bigger payoff: we can call that function on every pay string in the dataset at once.

**Question 4.** Below we've written code that defines a function that converts pay strings to pay numbers, just like your code above.  But it has a small error, which you can correct without knowing what all the other stuff in the cell means.  Correct the problem.

In [ ]:
def convert_pay_string_to_number(pay_string):
    """Converts a pay string like '$100 ' (in millions) to a number of dollars."""
    return float(pay_string.strip("$"))

In [ ]:
_ = tests.grade('q1_4')

Running that cell doesn't convert any particular pay string.

Rather, think of it as defining a *recipe* for converting a pay string to a number.  Writing down a recipe for cake doesn't give you a cake.  You have to gather the ingredients and get a chef to execute the instructions in the recipe to get a cake.  Similarly, no pay string is converted to a number until we *call* our function on a particular pay string (which tells Python, our lightning-fast chef, to execute it).

We can call our function just like we call the built-in functions we've seen.  (Almost all of those functions are defined in this way, in fact!)  It takes one argument, a string, and it returns a number.

In [ ]:
convert_pay_string_to_number(mark_hurd_pay_string)

In [ ]:
# We can also compute Safra Catz's pay in the same way:
convert_pay_string_to_number(raw_compensation.where("Name", are.equal_to("Safra A. Catz*")).column("Total Pay").item(0))

What have we gained?  Well, without the function, we'd have to copy that `10**6 * float(pay_string.strip("$"))` stuff each time we wanted to convert a pay string.  Now we just call a function whose name says exactly what it's doing.

We'd still have to call the function 102 times to convert all the salaries, which we'll fix next.

But for now, let's write some more functions.

## 2. Defining functions
##### In Which We Write a Lot of Recipes

Let's write a very simple function that converts a proportion to a percentage by multiplying it by 100.  For example, the value of `to_percentage(.5)` should be the number 50.  (No percent sign.)

A function definition has a few parts.

##### `def`
It always starts with `def` (short for **def**ine):

    def

##### Name
Next comes the name of the function.  Let's call our function `to_percentage`.
    
    def to_percentage

##### Signature
Next comes something called the *signature* of the function.  This tells Python how many arguments your function should have, and what names you'll use to refer to those arguments in the function's code.  `to_percentage` should take one argument, and we'll call that argument `proportion` since it should be a proportion.

    def to_percentage(proportion)

We put a colon after the signature to tell Python it's over.

    def to_percentage(proportion):

##### Documentation
Functions can do complicated things, so you should write an explanation of what your function does.  For small functions, this is less important, but it's a good habit to learn from the start.  Conventionally, Python functions are documented by writing a triple-quoted string:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
    
    
##### Body
Now we start writing code that runs when the function is called.  This is called the *body* of the function.  We can write anything we could write anywhere else.  First let's give a name to the number we multiply a proportion by to get a percentage.

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100

##### `return`
The special instruction `return` in a function's body tells Python to make the value of the function call equal to whatever comes right after `return`.  We want the value of `to_percentage(.5)` to be the proportion .5 times the factor 100, so we write:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100
        return proportion * factor

**Question 1.** Define `to_percentage` in the cell below.  Call your function to convert the proportion .2 to a percentage.  Name that percentage `twenty_percent`.

In [ ]:
...
    ...
    ...
    ...

twenty_percent = ...
twenty_percent

In [ ]:
_ = tests.grade('q2_1')

Like the built-in functions, you can use named values as arguments to your function.

**Question 2.** Use `to_percentage` again to convert the proportion named `a_proportion` (defined below) to a percentage called `a_percentage`.

*Note:* You don't need to define `to_percentage` again!  Just like other named things, functions stick around after you define them.

In [ ]:
a_proportion = 2**(.5) / 2
a_percentage = ...
a_percentage

In [ ]:
_ = tests.grade('q2_2')

Here's something important about functions: Each time a function is called, it creates its own "space" for names that's separate from the main space where you normally define names.  (Exception: all the names from the main space get copied into it.)  So even though you defined `factor = 100` inside `to_percentage` above and then called `to_percentage`, you can't refer to `factor` anywhere except inside the body of `to_percentage`:

In [ ]:
# You should see an error when you run this.  (If you don't, you might
# have defined factor somewhere above.)
factor

As we've seen with the built-in functions, functions can also take strings (or arrays, or tables) as arguments, and they can return those things, too.

**Question 3.** Define a function called `disemvowel`.  It should take a single string as its argument.  (You can call that argument whatever you want.)  It should return a copy of that string, but with all the characters that are vowels removed.  (In English, the vowels are the characters "a", "e", "i", "o", and "u".)

*Hint:* To remove all the "a"s from a string, you can use `that_string.replace("a", "")`.  And you can call `replace` multiple times.

In [ ]:
def disemvowel(a_string):
    ...
    ...

# An example call to your function.  (It's often helpful to run
# an example call from time to time while you're writing a function,
# to see how it currently works.)
disemvowel("Can you read this without vowels?")

In [ ]:
_ = tests.grade('q2_3')

##### Calls on calls on calls
Just as you write a series of lines to build up a complex computation, it's useful to define a series of small functions that build on each other.  Since you can write any code inside a function's body, you can call other functions you've written.

This is like a recipe for cake telling you to follow another recipe to make the frosting, and another to make the sprinkles.  This makes the cake recipe shorter and clearer, and it avoids having a bunch of duplicated frosting recipes.  It's a foundation of productive programming.

For example, suppose you want to count the number of characters *that aren't vowels* in a piece of text.  One way to do that is this to remove all the vowels and count the size of the remaining string.

**Question 4.** Write a function called `num_non_vowels`.  It should take a string as its argument and return a number.  The number should be the number of characters in the argument string that aren't vowels.

*Hint:* Recall that the function `len` takes a string as its argument and returns the number of characters in it.

In [ ]:
def num_non_vowels(a_string):
    """The number of characters in a string, minus the vowels."""
    ...

In [ ]:
_ = tests.grade('q2_4')

Functions can also encapsulate code that *does things* rather than just computing values.  For example, if you call `print` inside a function, and then call that function, something will get printed.

The `movies_by_year` dataset in the textbook has information about movie sales in recent years.  Suppose you'd like to display the year with the 5th-highest total gross movie sales, printed in a human-readable way.  You might do this:

In [ ]:
movies_by_year = Table.read_table("movies_by_year.csv")
rank = 5
fifth_from_top_movie_year = movies_by_year.sort("Total Gross", descending=True).column("Year").item(rank-1)
print("Year number", rank, "for total gross movie sales was:", fifth_from_top_movie_year)

After writing this, you realize you also wanted to print out the 2nd and 3rd-highest years.  Instead of copying your code, you decide to put it in a function.  Since the rank varies, you make that an argument to your function.

**Question 5.** Write a function called `print_kth_top_movie_year`.  It should take a single argument, the rank of the year (like 2, 3, or 5 in the above examples).  It should print out a message like the one above.  It shouldn't have a `return` statement.

In [ ]:
def print_kth_top_movie_year(k):
    # Our solution used 2 lines.
    ...
    ...

# Example calls to your function:
print_kth_top_movie_year(2)
print_kth_top_movie_year(3)

In [ ]:
_ = tests.grade('q2_5')

## 3. `apply`ing functions
##### In Which Python Bakes 102 Cakes
You'll get more practice writing functions, but let's move on.  

Defining a function is a lot like giving a name to a value with `=`.  In fact, a function is a value just like the number 1 or the text "the"!

For example, we can make a new name for the built-in function `max` if we want:

In [ ]:
our_name_for_max = max
our_name_for_max(2, 6)

The old name for `max` is still around:

In [ ]:
max(2, 6)

Try just writing `max` or `our_name_for_max` (or the name of any other function) in a cell, and run that cell.  Python will print out a (very brief) description of the function.

In [ ]:
max

Why is this useful?  Since functions are just values, it's possible to pass them as arguments to other functions.  Here's a simple but not-so-practical example: we can make an array of functions.

In [ ]:
make_array(max, np.average, are.equal_to)

**Question 1.** Make an array containing any 3 other functions you've seen.  Call it `some_functions`.

In [ ]:
some_functions = ...
some_functions

In [ ]:
_ = tests.grade('q3_1')

Working with functions as values can lead to some funny-looking code.  For example, see if you can figure out why this works:

In [ ]:
make_array(max, np.average, are.equal_to).item(0)(4, -2, 7)

Here's a simpler example that's actually useful: the table method `apply`.

`apply` calls a function many times, once on *each* element in a column of a table.  It produces an array of the results.  Here we use `apply` to convert every CEO's pay to a number, using the function you defined:

In [ ]:
raw_compensation.apply(convert_pay_string_to_number, "Total Pay")

Here's an illustration of what that did:

<img src="apply.png"/>

Note that we didn't write something like `convert_pay_string_to_number()` or `convert_pay_string_to_number("Total Pay")`.  The job of `apply` is to call the function we give it, so instead of calling `convert_pay_string_to_number` ourselves, we just write its name as an argument to `apply`.

**Question 2.** Using `apply`, make a table that's a copy of `raw_compensation` with one more column called "Total Pay (\$)".  It should be the result of applying `convert_pay_string_to_number` to the "Total Pay" column, as we did above.  Call the new table `compensation`.

In [ ]:
compensation = raw_compensation.with_column(
    "Total Pay ($)",
    ...
compensation

In [ ]:
_ = tests.grade('q3_2')

Now that we have the pay in numbers, we can compute things about them.

**Question 3.** Compute the average total pay of the CEOs in the dataset.

In [ ]:
average_total_pay = ...
average_total_pay

In [ ]:
_ = tests.grade('q3_3')

**Question 4.** Companies pay executives in a variety of ways: directly in cash; by granting stock or other "equity" in the company; or with ancillary benefits (like private jets).  Compute the proportion of each CEO's pay that was cash.  (Your answer should be an array of numbers, one for each CEO in the dataset.)

In [ ]:
cash_proportion = ...
cash_proportion

In [ ]:
_ = tests.grade('q3_4')

Check out the "% Change" column in `compensation`.  It shows the percentage increase in the CEO's pay from the previous year.  For CEOs with no previous year on record, it instead says "(No previous year)".  The values in this column are *strings*, not numbers, so like the "Total Pay" column, it's not usable without a bit of extra work.

Given your current pay and the percentage increase from the previous year, you can compute your previous year's pay.  For example, if your pay is \$100 this year, and that's an increase of 50% from the previous year, then your previous year's pay was $\frac{\$100}{1 + \frac{50}{100}}$, or around \$66.66.

**Question 5.** Create a new table called `with_previous_compensation`.  It should be a copy of `compensation`, but with the "(No previous year)" CEOs filtered out, and with an extra column called "2014 Total Pay ($)".  That column should have each CEO's pay in 2014.

*Hint:* This question takes several steps, but each one is still something you've seen before.  Take it one step at a time, using as many lines as you need.  You can print out your results after each step to make sure you're on the right track.

*Hint 2:* You'll need to define a function.  You can do that just above your other code.

In [ ]:
# For reference, our solution involved more than just this one line of code
...

with_previous_compensation = ...
with_previous_compensation

In [ ]:
_ = tests.grade('q3_5')

**Question 6.** What was the average pay of these CEOs in 2014?  Does it make sense to compare this number to the number you computed in question 3?

In [ ]:
average_pay_2014 = ...
average_pay_2014

In [ ]:
_ = tests.grade('q3_6')

**Question 7.** A skeptical student asks:

> "I already knew lots of ways to operate on each element of an array at once.  For example, I can multiply each element of `some_array` by 100 by writing `100*some_array`.  What good is `apply`?

How would you answer?  Discuss with a neighbor.

## 4. Histograms
Earlier, we computed the average pay among the CEOs in our 102-CEO dataset.  The average doesn't tell us everything about the amounts CEOs are paid, though.  Maybe just a few CEOs make the bulk of the money, even among these 102.

We can use a *histogram* to display more information about a set of numbers.  The table method `hist` takes a single argument, the name of a column of numbers.  It produces a histogram of the numbers in that column.

**Question 1.** Make a histogram of the pay of the CEOs in `compensation`.

In [ ]:
...

**Question 2.** Looking at the histogram, how many CEOs made more than \$30 million?  (Answer the question by filling in your answer manually.  You'll have to do a bit of arithmetic; feel free to use Python as a calculator.)

In [ ]:
num_ceos_more_than_30_million = ...

**Question 3.** Answer the same question with code.  *Hint:* Use the table method `where` and the property `num_rows`.

In [ ]:
num_ceos_more_than_30_million_2 = ...
num_ceos_more_than_30_million_2

In [ ]:
_ = tests.grade('q4_3')

**Question 4.** Do most CEOs make around the same amount, or are there some who make a lot more than the rest?  Discuss with someone near you.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [tests.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]

In [ ]:
# Run this cell to submit your work *after* you have passed all of the test cells.
# It's ok to run this cell multiple times. Only your final submission will be scored.

!TZ=America/Los_Angeles ipython nbconvert --output=".lab04_$(date +%m%d_%H%M)_submission.html" lab04.ipynb